/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    margin: 0;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Styles pour les écrans plus étroits (max-width: 767.98px) */

@media (max-width: 767.98px) {

    .populaires {
        margin: 30px 0 0;
        padding: 20px !important;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .populaires-cards {
        display: block;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }

    .populaires-cards img {
        width: 111px;
        height: 146px; 
    }

    .populaires-cards .card-content {
        width: 100%;
        height: 146px;
    }

    .card-rating {
        font-size: 16px;
    }
}


/* root */

:root {
    --black: rgb(0, 0, 0);
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #F2F2F2;
    --white: #FFF;
    --grey-tint-2: #D9D9D9;
    --font: 'Raleway', sans-serif;
    --font-size-regular: 16px;   /* Taille standard pour le poids 400 */
    --font-size-medium: 18px;    /* Taille standard pour le poids 500 */
    --font-size-bold: 20px;      /* Taille standard pour le poids 700 */
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 79px;
    margin-bottom: 30px;
}

.headerlogo img {
    max-height: 20px;
    height: 100%;
    width: auto;
    padding-top: 30px;
}

.headernav {
    display: flex;
    gap: 70px;
}

.headernav a:hover {
    color: var(--blue);
}

.headernav a {
    position: relative;
    padding: 5px 0; 
}

.headernav a::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    right: 0; 
    height: 2px;
    background-color: transparent;
}

.headernav a:hover::before {
    background-color: var(--blue);
    transform: scaleX(1);
}

/* Section group__info */

/* H1 - paragraphe */

.text__hebergement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 8px;
    font-family: var(--font);
    color: var(--black);
}

.title__h1 {
    font-size: var(--font-size-bold);
}

.paragraphe__h1 {
transform: translateY(-30px);
font-size: var(--font-size-regular);
}

/* find__herbergement part button */

.find__herbergement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 49px;
    max-width: 377px;
    transform: scale(0.8);
    transform-origin: top left;
    gap: 24px;
    border: 1px solid var(--grey);
    border-radius: 15px;
    background: var(--white);
}

.icon__localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 49px;
    flex-shrink: 0;
    background-color: var(--grey);
    border-radius: 15px 0px 0px 15px;
}

.button__recherche {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px 16px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--blue);
    background: var(--blue);
    color: var(--white);
    font-size: var(--font-size-medium);
    font-weight: bold;
}

.barre__recherche {
    color: var(--black);
    font-size: var(--font-size-medium);
    font-weight: bold;
    text-align: center;
    line-height: normal;
    border: none;
}

.barre__recherche:focus {
    outline: none;
}

.icon-recherche {
    display: none;
}

/* Settings filtres */

.filtres {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 15px;
    padding: 35px 0;
}

.span__filtres {
    display: flex;
    font-size: var(--font-size-medium);
    font-family: var(--font);
    font-weight: 700;
    color: var(--black);
    text-align: center;
    line-height: normal;
}

.filtres__button {
    display: flex;
    gap: 15px;
}

.button__filtres {
    display: flex;
    height: 50px;
    padding: 4px 19px;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2);
    background-color: var(--white);
    font-size: var(--font-size-regular);
    font-weight: 700;
    line-height: normal;
}

.fa-solid:not(.fa-xs) {
    font-size: 22px;
}

.button__filtres:hover,
.button__filtres:focus {
    background-color: #DEEBFF;
}

/* Settings groupe info */

.groupe__info {
    display: flex;
    height: 24px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    padding-bottom: 35px;
}

.text__info {
    font-size: var(--font-size-regular);
    font-family: var(--font);
    line-height: normal;
    color: var(--black);
}

/* Settings Hébergements Marseille */

.h2__hebergements, .span__afficher {
    font-family: var(--font);
    font-weight: 700;
    line-height: normal;
}

.h2__hebergements {
    font-size: 22px;
    margin: 0%;
    padding-bottom: 30px;
}

.span__afficher {
    font-size: var(--font-size-medium);
}

.container__hebergement {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 30px;
}

.bulle__hebergement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    width: 100%;
    height: 100%;
    gap: 4px;
    flex: 1 0 0;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    background-color: var(--white);
}

.image__hebergement {
    height: 124px;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover; 
    align-self: stretch;
    border: 5px solid var(--white);
    border-radius: 20px 20px 0 0;
}

.bulle__content {
    display: flex;
    box-sizing: border-box;
    padding: 0 15px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.title__bulle, .text__bulle {
    font-family: var(--font);
    line-height: normal;
    margin: 0;
}

.title__bulle {
    font-size: var(--font-size-regular);
    font-weight: 700;
    margin-bottom: 8px;
}

.text__bulle {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}

.card-rating {
    margin: 0;
}

/* Settings Activity Marseille */

.section__marseille {
    padding: 30px;
    gap: 30px;
}

.container__activity {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.activity__h2 {
    font-family: var(--font);
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    padding: 20px 0px 20px 0px;
}

.bulle__activity {
    width: 100%;
    height: 439px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.activity__h3 {
    display: flex;
    align-self: flex-start;
    font-family: var(--font);
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    padding-left: 19px;
}

.activity__image {
    height: 380px;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 20px 20px 0px 0px;
}

/* Settings footer */

.footer {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--grey);
}

.footer__info {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.strong {
    font-weight: bold;
}


/* Acvitity Marseille */

@media (max-width: 1024px) {
    .container__activity {
        grid-template-columns: repeat(4, 1fr);
    }

    .activity__image {
        width: 100%;
        height: 200px;
    }
    
    .bulle__activity {
        height: auto;
    }

    .activity__h3 {
        display: flex;
        padding-left: 19px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
        margin: 0%;
        height: 70px;
    }

    /* Filtre and Button */

    .filtres {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 35px;
    }
    
    .span__filtres {
        gap: 20px;
    }

    .container__hebergement {
        grid-template-columns: repeat(3, 1fr);
    }

    .bulle__hebergement {
        border-radius: 20px;
    }

    .image__hebergement {
        height: 124px;
        border-radius: 20px 20px 0 0;
    }

    .bulle__texte {
    width: 100%;
    height: auto;
    }
}

/* Styles pour les écrans plus étroits (max-width: 767.98px) */

@media (max-width: 767.98px) {
    
    .main-container {
        padding: 0 0;
    }

    .group__info{
        padding: 0 20px;
    }

    .populaires {
        order: 1;
    }
    .hebergements {
        order: 2;
    }

    /* Hébergement à Marseille */

    .container__hebergement {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .bulle__hebergement {
        border-radius: 20px;
        height: auto;
    }

    .image__hebergement {
        height: 124px;
        border-radius: 20px 20px 0 0;
    }

    .bulle__texte {
    width: 100%;
    height: auto;
    }

    .hebergements {
        margin: 15px 0 0;
        padding: 20px !important;
        background-color: white !important;
    }

    /* Activités à Marseille */
    .container__activity {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .bulle__activity {
        border-radius: 20px;
        width: 100%;
        height: auto;
        margin-top: 15px;
    }

    .activity__image {
        width: 100%;
        height: 141px;
        border-radius: 20px 20px 0 0;
    }

    .activity__h3 {
        padding-left: 19px;
        font-size: 16px;
        height: 59px;
    }

    /* Footer */

    .footer {
        display: block; /* Afficher les éléments du footer en bloc (un en dessous de l'autre) */
    }

    .footer__info {
        text-align: center; /* Centrer le texte */
        margin-top: 15px; /* Ajouter un espace entre les éléments */
    }

    /* Header */

    .header {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-bottom: 30px;
    }

    .headerlogo {
        padding: 30px;
        order: 1;
    }

    .headerlogo img {
        padding-top: 0;
    }

    .headernav {
        order: 2;
    }

    .headernav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        text-align: center;
        grid-gap: 0;
    }

    .headernav a::before {
        top: auto;
        bottom: 0;
        background-color: #F2F2F2; 
    }

    .find__herbergement {
        height: 49px;
        width: 335px;
        gap: 0;
    }

    .text-recherche {
        display: none;
    }

    .icon-recherche {
        display: inline-block;
    }

    .button__recherche {
        border-radius: 15px;
    }
    
    .icon__localisation, .barre__recherche, .button__recherche {
        flex-shrink: 1;
    }

    .filtres__button {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }
    
    .button__filtres {
        flex-basis: calc(50% - 10px);
        font-size: 14px;
        padding: 4px 8px;
        box-sizing: border-box;
        display: flex; 
        align-items: center;
        gap: 8px;
    }
    
    .fa-solid:not(.fa-xs) {
        font-size: 16px;
    }

    .groupe__info {
        margin-top: 110px;
    }

    .title__h1 {
        font-size: 18px;
    }

    .paragraphe__h1 {
        font-size: 14px;
    }
}